{% extends "base.html" %} 

{% block content %}
<h2>About Us</h2>
<p>Welcome to our About page. Behind this website is a person who is deeply committed to making cyberspace safer for everyone. Our founder, a passionate cyber security professional, has devoted their career to understanding the intricacies of the digital realm, the vulnerabilities we face, and the best strategies to mitigate these threats. They view their profession not merely as a job, but as a calling. It is their belief that the digital world holds immense potential and opportunity, but these come with risks and challenges. They understand that in our increasingly connected society, safety and security in the digital space is paramount.</p>

<p>They created this website with a clear objective in mind: to make cyber security accessible, understandable, and actionable for all. They wanted to build a platform that educates, guides, and empowers users to protect themselves and their digital assets from cyber threats. This is not just another website about cyber security. It is a manifestation of our founder's commitment to their craft, their passion for making the internet a safer place, and their unwavering dedication to helping others navigate the complex landscape of cyber threats.</p>

<h3>We invite you to explore our site, learn from it, and join us in our mission to make the digital world safer for everyone. Thank you for trusting us to be your ally in your journey towards a safer digital future. If you would like to get in touch with me, please send an email to <a href="mailto:something@something.com" style="color: #39ff14;">cysecim@protonmail.com</a>.</h3>
{% endblock %}
