<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cyber Security Incident Management System</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Cyber Security Incident Management System</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        {% if current_user.is_authenticated %}
        <li><a href="/incidentreport">Incident reporting</a></li>
        {% endif %} {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('incidentlist') }}">Incident list</a></li>
        {% endif %}
        <li><a href="/documentations">Useful links</a></li>
        <li><a href="/about">About</a></li>
        {% if current_user.is_authenticated %}
        <li>
          <a class="logout-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% endif %} {% if not current_user.is_authenticated %}
        <li><a class="login-link" href="{{ url_for('login') }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
    <main>
      {% block content %}
      <!-- Ide kerül az egyes oldalak tartalma -->
      {% endblock %}
    </main>
    <footer>
      <p>Copyright © 2023 t0m1</p>
    </footer>
  </body>
</html>
