{% extends "base.html" %} {% block content %}
<h2>Documentations</h2>
<p>Welcome to the Incident Management System.
  <br>
  <br>
  Please log in to continue!
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</p>
{% endblock %}
