{% extends "base.html" %} 
{% block content %}
<h2>Cybersecurity Incident</h2>
<p>
  A cybersecurity event that has been determined to have an impact on the
  organization prompting the need for response and recovery. An occurrence that
  actually or imminently jeopardizes, without lawful authority, the integrity,
  confidentiality, or availability of information or an information system; or
  constitutes a violation or imminent threat of violation of law, security
  policies, security procedures, or acceptable use policies.
</p>
<p>
  Source: <a href="https://csrc.nist.gov/glossary/term/cybersecurity_incident" target="_blank">https://csrc.nist.gov/glossary/term/cybersecurity_incident</a>
</p>
{% endblock %}

